@import 'tailwindcss';
/* @import 'tailwindcss/theme' theme(reference); */
@import './typography.css' layer(utilities);

@variant dark (&: where(.dark, .dark *));

@theme reference {
  --color-orange-*: initial;
  --font-size-2xs: 0.6875rem;
  --font-family-sans: var(--font-inter);
  --font-family-display: var(--font-mona-sans);
  --opacity-2_5: 2.5%;
  --opacity-7_5: 7.5%;
}
