@import 'tailwindcss';
/* @import 'tailwindcss/theme' theme(reference); */

@import './typography.css' layer(utilities);
/* @import 'https://unpkg.com/open-props'; */

@variant dark (&: where(.dark, .dark *));

@theme reference {
  --color-orange-*: initial;
  /* --font-size-2xs: 0.6875rem; */
  --font-family-sans: var(--font-inter);
  --font-family-display: var(--font-mona-sans);
  --opacity-2_5: 2.5%;
  --opacity-7_5: 7.5%;

  /* --font-size-*: initial;

  /* Font sizes from Open Props */
  /* --font-size-00: var(--font-size-00);
  --font-size-0: var(--font-size-0);
  --font-size-1: var(--font-size-1);
  --font-size-2: var(--font-size-2);
  --font-size-3: var(--font-size-3);
  --font-size-4: var(--font-size-4);
  --font-size-5: var(--font-size-5);
  --font-size-6: var(--font-size-6);
  --font-size-7: var(--font-size-7);
  --font-size-8: var(--font-size-8); */
}
